<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Resultado Remate</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="img/img3.png" type="image/png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CRoboto:300,400,500" media="all">
        <link href="login.ejs"stylesheet">
        <link href="/css/icomoon.css" rel="stylesheet">
        <link href="/css/font-awesome.min copy.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/queries.css" rel="stylesheet">

    </head>
<%- include('templates/header', {titulo: "Pagina Usuario Pro"}) %>
    <body>
        
        <%- include('templates/menu') %>

    <div class= "conteiner">
        <div class ="row">
            <div class= "col-4">
                <div class="card" style="width: 18rem;">
                    <img src="img/avion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Avion</h5>
                      <p class="card-text">Adjudicado a: <%= resultados.filter(x => x.producto == 1) [0].User.name%></p>
                      <p class="card-text">Por el valor de: <%= resultados.filter(x => x.producto == 1) [0].valorOferta%></p>                       
                    </div>
                </div>
            </div>
            <div class= "col-4">
                <div class="card" style="width: 18rem;">
                    <img src="img/imagenauto.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Auto</h5>
                      <p class="card-text">Adjudicado a: <%= resultados.filter(x => x.producto == 2) [0].User.name%></p>
                      <p class="card-text">Por el valor de :<%= resultados.filter(x => x.producto == 2) [0].valorOferta%></p>  
                    </div>
                </div>
            </div>
            <div class= "col-4">
                <div class="card" style="width: 18rem;">
                    <img src="img/mansion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Mansion</h5>
                      <p class="card-text">Adjudicado a: <%= resultados.filter(x => x.producto == 3) [0].User.name%></p>
                      <p class="card-text">Por el valor de: <%= resultados.filter(x => x.producto == 3) [0].valorOferta%></p>   
                    </div>
                </div>
            </div>
        </div>
    </div>

           
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    </body>
</html>
    

    